API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=
LOGGER_ID=
MONGO_URL=
DATABASE_URL=
UNIFIED_DATABASE_URL=
REDIS_URL=

GROQ_API_KEY=
SUPPORT_CHANNEL=https://t.me/jp_network
SUPPORT_CHAT=https://t.me/jp_network
